[Unit]
Description=upload
After=network-online.target

[Service]
User=caddy
Group=caddy
ExecStart=/usr/local/bin/upload

[Install]
WantedBy=multi-user.target
